<!-- Modal add -->
<div class="modal fade" id="modalAdd" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 id="h3Title" class="modal-title">Add Product</h3>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form id="formAddEdit">
					<div class="form-row align-items-center mb-2">
						<div class="col-2">
							<label for="productId">Name</label> <input
								type="text" class="form-control mb-2" id="productId"
								placeholder="[seq]" readonly>
						</div>
						<div class="col-4">
							<label for="productId">Initial</label> <input
								type="text" class="form-control mb-2" id="initial"
								placeholder="Initial" >
						</div>
						<div class="col-6">
							<label for="productId">Name</label> <input
								type="text" class="form-control mb-2" id="name"
								placeholder="Product Name" >
						</div>
					</div>
					<div class="form-row align-items-center mb-2">
						<div class="col-12">
							<label for="productId">Description</label>
							<textarea class="form-control" id="description" rows="2"
												cols="100"></textarea>
						</div>
					</div>
					<div class="form-row align-items-center mb-2">
						<div class="col-6">
							<label for="productId">Price Per Item</label>
							<input
								type="text" class="form-control" id="price"
								placeholder="0.0" >
						</div>
						<div class="col-6">
							<label for="productId">Stock</label>
							<input type="text" class="form-control" id="stock"
								placeholder="0" style="{text-align: right}">
						</div>
					</div>
					<div class="form-row align-items-center mb-2">
						<div class="col-6">
							<label for="productId">Category</label>
							<select onchange="categoryChange()"
								id="category" class="custom-select" required>
								<option value="">-Pilih-</option>
							</select> </select>
						</div>
						<div class="col-6">
							<label for="productId">Variant</label>
							<select
								id="variant" class="custom-select" required>
								<option value="">-Pilih-</option>
							</select> </select>
						</div>
					</div>
					<div class="form-row align-items-center mb-1">
						<div class="col-6 ml-4">
							<input type="checkbox" class="form-check-input" id="active"
												required> <label class="form-check-label"
												for="isActive">Check For Active</label>
						</div>
						
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" id="saveEditBtn" onclick="saveAction();"  class="btn btn-primary">Save</button>
			</div>
		</div>
	</div>
</div>
<!-- /.modal -->