
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author"
	content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
<meta name="generator" content="Jekyll v3.8.6">
<title>Dashboard Template · Bootstrap</title>



<!-- Bootstrap core CSS -->
<!-- Bootstrap core CSS -->
<link href="../bootstrap-4.4.1/css/bootstrap.min.css" rel="stylesheet"
	crossorigin="anonymous">
<link
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	rel="stylesheet">

<meta name="theme-color" content="#563d7c">
<style>
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media ( min-width : 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}
</style>
<!-- Custom styles for this template -->
<link href="../css/dashboard.css" rel="stylesheet">
</head>
<body>
	<nav
		class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
		<a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">Company
			name</a> <input class="form-control form-control-dark w-100" type="text"
			placeholder="Search" aria-label="Search">
		<ul class="navbar-nav px-3">
			<li class="nav-item text-nowrap"><a class="nav-link" href="#">Sign
					out</a></li>
		</ul>
	</nav>

	<div class="container-fluid">
		<div class="row">
			<nav class="col-md-2 d-none d-md-block bg-light sidebar">
				<div class="sidebar-sticky">
					<ul class="nav flex-column">
						<li class="nav-item"><a class="nav-link active" href="#">
								<span data-feather="home"></span> Spring MVC <span
								class="sr-only">(current)</span>
						</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/user/}">
								<span data-feather="file"></span> User
						</a></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/category/}"> <span data-feather="shopping-cart"></span>
								Category
						</a></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/variant/}"> <span data-feather="users"></span>
								Variant
						</a></li>

					</ul>

					<h6
						class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
						<span>Rest API</span> <a
							class="d-flex align-items-center text-muted" href="#"
							aria-label="Add a new report"> <span
							data-feather="plus-circle"></span>
						</a>
					</h6>
					<ul class="nav flex-column mb-2">
						<li class="nav-item"><a class="nav-link"
							th:href="@{/rest/category}"> <span data-feather="file-text"></span>
								Category
						</a></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/rest/variant}"> <span data-feather="file-text"></span>
								Variant
						</a></li>
						<li class="nav-item"><a class="nav-link" href="#"> <span
								data-feather="file-text"></span> Product
						</a></li>
						<li class="nav-item"><a class="nav-link" href="#"> <span
								data-feather="file-text"></span> Order
						</a></li>
					</ul>
				</div>
			</nav>

			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
				<div
					class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-0 border-bottom">
					<h1 class="h2">Rest-Product-Dto</h1>
					<div class="btn-toolbar mb-2 mb-md-0">

						<div class="input-group mb-3">
							<div class="btn-group mr-2">
								<button type="button" id="btnNew"
									class="btn btn-sm btn-outline-secondary">
									<span class="fa fa-plus-circle"> New</span>
								</button>
							</div>
							<div class="input-group-prepend">
								<select class="custom-select" id="searchBy">
									<option selected>Search By...</option>
									<option value="initial">Initial</option>
									<option value="name">Name</option>
									<option value="description">Description</option>
								</select>
							</div>
							<input type="text" class="form-control" id="inputSearch"
								placeholder="Search Product Name"
								aria-label="Text input with segmented dropdown button">
							<button type="button" class="btn btn-sm btn-outline-secondary"
								id="btnSearch">
								<span class="fa fa-search"></span>
							</button>
							<select id="maxRows" style="width: 50px;"
								class="form-control select2 select2-hidden-accessible ml-1 pull-right"
								data-select2-id="1" tabindex="-1" aria-hidden="true">
								<option selected="selected" value="100">Show All</option>
								<option value="5">5</option>
								<option value="10">10</option>
								<option value="15">15</option>
								<option value="25">25</option>
								<option value="30">30</option>
							</select>
							<button type="button"
								class="btn btn-sm btn-outline-secondary ml-2" id="btnSort">
								<span class="fa fa-sort-alpha-asc"></span>
							</button>
						</div>


					</div>
				</div>
				<!-- - fill this one -->
				<div class="table-responsive">
					<table class="table table-striped table-sm">
						<thead>
							<tr>
								<th>Product Id</th>
								<th>Initial</th>
								<th>Name</th>
								<th>Description</th>
								<th>Price</th>
								<th>Stock</th>
								<th>Active</th>
								<th>Variant</th>
								<th>Category</th>
								<th></th>
							</tr>
						</thead>
						<tbody id="tbody-data">

						</tbody>
					</table>
					<nav aria-label="Page navigation example">
						<ul class="pagination" id="pagination">
							<li class="page-item"><a class="page-link" href="#">Previous</a></li>
							<li class="page-item"><a class="page-link" href="#">1</a></li>
							<li class="page-item"><a class="page-link" href="#">2</a></li>
							<li class="page-item"><a class="page-link" href="#">3</a></li>
							<li class="page-item"><a class="page-link" href="#">Next</a></li>
						</ul>
					</nav>
				</div>

				<div class="modal-body">
					<!-- Content will be loaded here...  -->
				</div>


			</main>
		</div>
	</div>
</body>

<script src="../js/jquery-3.4.1.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<script src="../bootstrap-4.4.1/js/bootstrap.min.js"></script>
<script src="../js/swal.js"></script>
<script src="../js/product-rest.js"></script>
</html>
