
<!-- Modal add -->
<div class="modal fade" id="modalAdd" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title">Add Variant</h3>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form id="formAddEdit" th:object="${variant}"
					th:action="@{/variant/save}" method="POST">
					<div th:if="${#fields.hasErrors()}">
						<span class="validationError"> Please correct the problems
							below and resubmit. </span>
					</div>
					<div class="form-group">
						<label for="title">Initial :</label><br> <input
							class="form-control" type="text" th:field="*{initial}"
							placeholder="initial">
							 <span class="validationError"
							th:if="${#fields.hasErrors('initial')}" th:errors="*{initial}">Initial Error</span>
					</div>
					<div class="form-group">
						<label for="name">Name :</label><br> <input
							class="form-control" type="text" th:field="*{name}"
							placeholder="name">
							 <span class="validationError"
							th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>
					</div>
					<div class="form-group">
						<label for="name">Name :</label><br> <select
							th:field="*{category}">
							<option th:each="cate: ${categories}" th:value="${cate.id}"
								th:text="${cate.name}" />
						</select>
						 <span class="validationError"
							th:if="${#fields.hasErrors('category')}" th:errors="*{category}">Name Error</span>
					</div>
					<div class="form-group">
						<input type="checkbox" th:field="*{active}"> <label
							class="form-check-label" for="active">is Active ?</label>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Close</button>
						<button type="submit" id="saveBtn" class="btn btn-primary">Save</button>
					</div>
				</form>
			</div>

		</div>
	</div>
</div>
<!-- /.modal -->

