
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author"
	content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
<meta name="generator" content="Jekyll v3.8.6">
<title>Dashboard Template · Bootstrap</title>



<!-- Bootstrap core CSS -->
<!-- Bootstrap core CSS -->
<link href="../bootstrap-4.4.1/css/bootstrap.min.css" rel="stylesheet"
	crossorigin="anonymous">

<meta name="theme-color" content="#563d7c">
<style>
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media ( min-width : 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}
</style>
<!-- Custom styles for this template -->
<link href="../css/dashboard.css" rel="stylesheet">
</head>
<body>
	<nav
		class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
		<a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">Company
			name</a> <input class="form-control form-control-dark w-100" type="text"
			placeholder="Search" aria-label="Search">
		<ul class="navbar-nav px-3">
			<li class="nav-item text-nowrap"><a class="nav-link" href="#">Sign
					out</a></li>
		</ul>
	</nav>

	<div class="container-fluid">
		<div class="row">
			<nav class="col-md-2 d-none d-md-block bg-light sidebar">
				<div class="sidebar-sticky">
					<ul class="nav flex-column">
						<li class="nav-item"><a class="nav-link active" href="#">
								<span data-feather="home"></span> Spring MVC <span
								class="sr-only">(current)</span>
						</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/user/}">
								<span data-feather="file"></span> User
						</a></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/category/}"> <span data-feather="shopping-cart"></span>
								Category
						</a></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/variant/}"> <span data-feather="users"></span>
								Variant
						</a></li>

					</ul>

					<h6
						class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
						<span>Rest API</span> <a
							class="d-flex align-items-center text-muted" href="#"
							aria-label="Add a new report"> <span
							data-feather="plus-circle"></span>
						</a>
					</h6>
					<ul class="nav flex-column mb-2">
						<li class="nav-item"><a class="nav-link"
							th:href="@{/rest/category}"> <span data-feather="file-text"></span>
								Category
						</a></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/rest/variant}"> <span data-feather="file-text"></span>
								Variant
						</a></li>
						<li class="nav-item"><a class="nav-link" href="#"> <span
								data-feather="file-text"></span> Product
						</a></li>
						<li class="nav-item"><a class="nav-link" href="#"> <span
								data-feather="file-text"></span> Order
						</a></li>
					</ul>
				</div>
			</nav>

			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
				<div
					class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-0 border-bottom">
					<h1 class="h2">Rest - Variant</h1>
					<div class="btn-toolbar mb-2 mb-md-0">
						<div class="btn-group mr-2">
							<button type="button" id="btnNew"
								class="btn btn-sm btn-outline-secondary">New</button>
						</div>
						<div class="form-group mx-sm-3 mb-2 col-xs-2"><input
								type="text" class="form-control" id="inputSearch"
								placeholder="Search Variant Name">
						</div>
						<button type="button" class="btn btn-sm btn-outline-secondary" id="btnSearch">Search</button>
					</div>
				</div>
				<!-- - fill this one -->
				<div class="table-responsive">
					<table class="table table-striped table-sm">
						<thead>
							<tr>
								<th>Variant Id</th>
								<th>Initial</th>
								<th>Name</th>
								<th>Category Name</th>
								<th>Active</th>
							</tr>
						</thead>
						<tbody id="tbody-data">

						</tbody>
					</table>
				</div>

				<div class="modal-body">
					<!-- Content will be loaded here...  -->
				</div>


			</main>
		</div>
	</div>
</body>

<script src="../js/jquery-3.4.1.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<script src="../bootstrap-4.4.1/js/bootstrap.min.js"></script>
<script src="../js/swal.js"></script>


<script>

	$('document').ready(function(){
		loadData();
		
	});
	
	// initial variable action type default new
	actionType='new';

	function loadData(){
		$.ajax({
			url: "/api/variant/fetchDto",
			type: 'get',
			contentType: 'application/json',
			success : (respond) =>{
				console.log(respond);
				generateTable(respond);
				
			},
			error:()=>{
				console.log('Failed to fetch data');
			}
		});
	}
	
	$("#inputSearch").on("keydown", function (e) {
		
        if (e.which == 13) {

            paramName = $("#inputSearch").val();
            $.ajax({
				url : '/api/variant/searchVariantName?name='+paramName+'&initial='+paramName,
				type : 'get',
				contentType : 'application/json',
				success: (respond) =>{
					//alert('Data has been save');
					generateTable(respond);
	
					
				},
				error:()=>{
					console.log('Failed to load data');
				}
			});   
        }
    });
	
	 $("#btnSearch").click(function(e){
		 paramName = $("#inputSearch").val();
         $.ajax({
				url : '/api/variant/searchVariantName?name='+paramName+'&initial='+paramName,
				type : 'get',
				contentType : 'application/json',
				success: (respond) =>{
					//alert('Data has been save');
					generateTable(respond);
					
				},
				error:()=>{
					console.log('Failed to load data');
				}
			});   
		 
	 });
	
	
	
	// create function to fetch category
	function getCategory(cateId){
        $.ajax({
            url: '/api/category/',
            type: 'get',
            contentType: "application/json",
            success: function (response) {

                
                 var optValue = "";
	           	 optValue += `<option value="">-Select-</option>`;
	           	 response.map((cate)=>{
	           		 optValue += `<option value = "${cate.id}">${cate.name}</option>`;
	           	 });
           	 
                $("#category").html(optValue);
               
            
            	//alert(cateId);
            	$('#category').val(cateId);   
               
                
            },
            error: function () {
               console.log('failed to fetch data')
            }
        });
    }
	
	
	

	// generate table
	function generateTable(resdata){
		var tr;
		// jquery will search variant_body id
		$('#tbody-data').html('');
		 tbody = $('#tbody-data');
		 resdata.map((res)=>{
			 tr = $('<tr/>');
			 
			 var actions = '<div class="input-group-btn">' +
	         '            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Action' +
	         '                <span class="fa fa-caret-down"></span></button>' +
	         '            <ul class="dropdown-menu">' +
	         '                <li onclick="editAction(this)" value='+res.varnId+'><a href="#">Edit</a></li>' +
	         '                <li onclick="deleteAction(this)" value='+res.varnId+'><a href="#">Delete</a></li>\n' +
	         '            </ul>\n' +
	         '        </div>';
	         
	         tr.append("<td>" + res.varnId+ "</td>");
	         tr.append("<td>" + res.initial+ "</td>");
	         tr.append("<td>" + res.name+ "</td>");
	         tr.append("<td>" + res.categoryName+ "</td>");
	         tr.append("<td>" + res.active+ "</td>");
	         tr.append("<td>" + actions+ "</td>");
	        
	       /*  console.log(res[0].variant.products.length);
	        
	         if (res[0].variant.products.length > 0){
	        	
		
	        	res[0].variant.products.map((prod)=>{
	        		$("#tbody-data").append("<tr><td> product id : " + prod.productId +"</td> initial : " + prod.initial.toLowerCase() + 
	        				"</td></tr><td>name : " +prod.name.toLowerCase() +  "</td></td>"+ "</td><td>desc: " + prod.description+ "</td></tr>"+
	        				"</tr><td>price : " + prod.price + "</td></td>"+ "</td><td>stock: " + prod.stock + "</td></tr>");

	        	});
	        }  
	         else{
	        	 $("#tbody-data").append("<tr>");
	         } */

	
			
			
			
			$("#tbody-data").append(tr);
		}); 
	}

	 $("#btnNew").click(function(e){
		
		 actionType='new';
		$.ajax({
			url : '/rest/variant/newModal',
			type : 'get',
			dataType: 'html',
			success: (response) =>{
				console.log(response);
				//alert('Edit data');
				$('.modal-body').html(response);
				 getCategory();
				 $("#h3Title").text("Add Variant");
				 $("#formAddEdit")[0].reset();
				$("#modalAdd").modal("show");
				
			},
			error:(err)=>{
				console.log(err);
				//alert('Data gagal tersimpan')
			}
		});
		
	}); 

	function saveAction(e){

		if (actionType === 'new'){
			insertData();
		}else{
			updateData();
		}
		event.preventDefault()
	}

	 
	 

 
	 function insertData() {

		 	let data ={
		 			
					initial : $("#initial").val() ,
					name : $("#name").val() ,
					active: $("#active").is(':checked')=== true ? true : false,
					category: {
						id :  $("#category").val()
					}
			}
		 	
			   $.ajax({
				url : '/api/variant/create',
				type : 'post',
				contentType : 'application/json',
				data: JSON.stringify(data),
				success: (respond) =>{
					//alert('Data has been save');
					loadData();
					$('#modalAdd').modal('hide');
					
					Swal.fire({
		           		  position: 'top-center',
		           		  icon: 'success',
		           		  width: 300,
		           		  title: 'Your work has been saved',
		           		  showConfirmButton: false,
		           		  timer: 1500
		           		});
					
				},
				error:()=>{
					console.log('Failed to save data');
				}
			});   
		};
		
		function updateData() {
			console.log('update data');
		 	let data ={
		 			varnId : $('#varnId').val(),
					initial : $("#initial").val() ,
					name : $("#name").val() ,
					active: $("#active").is(':checked')=== true ? true : false,
					category: {
						id :  $("#category").val()
					}
			}
			
			 console.log(JSON.stringify(data));
			  $.ajax({
				url : '/api/variant/update',
				type : 'put',
				contentType : 'application/json',
				data: JSON.stringify(data),
				success: (respond) =>{
					//alert('Data has been save');
					loadData();
					$('#modalAdd').modal('hide');
					
					Swal.fire({
		           		  position: 'top-center',
		           		  icon: 'success',
		           		  width: 300,
		           		  title: 'Your work has been saved',
		           		  showConfirmButton: false,
		           		  timer: 1500
		           		});
					
				},
				error:()=>{
					console.log('Failed to save data');
				}
			});  
		};

		function editAction(e){
			
			 actionType='edit';
			 $.ajax({
					url : '/rest/variant/newModal',
					type : 'get',
					dataType: 'html',
					success: (response) =>{
				
						 $.ajax({
								url : '/api/variant/editDto/'+e.value,
								type : 'get',
								contentType: 'application/json',
								success: (result) =>{
									//call result .modal-body first agar bisa diupdate element html nya
									console.log(result);
									$('.modal-body').html(response);
					
					 				// udpate value element tiap element html
									$('#varnId').val(result[0].varnId);
						            $('#initial').val(result[0].initial)
						            $('#name').val(result[0].name)
						            if (result[0].active === true){
						            	$("#active").prop("checked", true);
						            }else{
						            	$("#active").prop("checked", false);
						            } 
						            
						  
						           
						            // show modal & change title h3 from New to Edit Variant
						          
						    		$("#h3Title").text("Edit Variant");
									$("#modalAdd").modal("show"); 
									getCategory(result[0].categoryId);
								},
								error:(err)=>{
									console.log(err);
									//alert('Data gagal tersimpan')
								}
							});
						
					},
					error:(err)=>{
						console.log(err);
						//alert('Data gagal tersimpan')
					}
				});
			
		} 
	
	
 	function deleteAction(e){
		Swal.fire({
			  title: 'Are you sure?',
			  text: "You won't be able to revert this!",
			  icon: 'warning',
			  showCancelButton: true,
			  confirmButtonColor: '#3085d6',
			  cancelButtonColor: '#d33',
			  confirmButtonText: 'Yes, delete it!'
			}).then((result) => {
			  if (result.value) {
				
				  $.ajax({
						url : '/api/variant/updateIsDelete/'+e.value,
						type : 'get',
						dataType: 'html',
						success: (response) =>{
							console.log(response);
							location.reload();
						},
						error:(err)=>{
							location.reload();
							//alert('Data gagal tersimpan')
						}
					});
			   
			  }
			})
	} 
</script>
</html>
