
<!-- Modal add -->
<div class="modal fade" id="modalEdit" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title">Edit User</h3>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form id="formAdd" th:object="${user}" th:action="@{/user/save}" 
					method="POST">
					<div class="form-group">
						<label for="title">User Id :</label><br> <input
							class="form-control" type="text" th:field="*{userId}"
							readonly>
					</div>
					<div class="form-group">
						<label for="title">User Name :</label><br> <input
							class="form-control" type="text" th:field="*{userName}"
							placeholder="userName">
					</div>
					<div class="form-group">
						<label for="name">Password :</label><br> <input
							class="form-control" type="password" th:field="*{password}"
							placeholder="password">
					</div>
					<div class="form-group">
						<label for="title">Email :</label><br> <input
							class="form-control" type="text" th:field="*{email}"
							placeholder="email">
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Close</button>
						<button type="submit" id="saveBtn" class="btn btn-primary">Save</button>
					</div>
				</form>
			</div>

		</div>
	</div>
</div>
<!-- /.modal -->

