
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author"
	content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
<meta name="generator" content="Jekyll v3.8.6">
<title>Dashboard Template · Bootstrap</title>



<!-- Bootstrap core CSS -->
<link href="../bootstrap-4.4.1/css/bootstrap.min.css" rel="stylesheet"
	crossorigin="anonymous">

<meta name="theme-color" content="#563d7c">
<style>
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media ( min-width : 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}
</style>
<!-- Custom styles for this template -->
<link href="../css/dashboard.css" rel="stylesheet">
</head>
<body>
	<nav
		class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
		<a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">Company
			name</a> <input class="form-control form-control-dark w-100" type="text"
			placeholder="Search" aria-label="Search">
		<ul class="navbar-nav px-3">
			<li class="nav-item text-nowrap"><a class="nav-link" href="#">Sign
					out</a></li>
		</ul>
	</nav>

	<div class="container-fluid">
		<div class="row">
			<nav class="col-md-2 d-none d-md-block bg-light sidebar">
				<div class="sidebar-sticky">
					<ul class="nav flex-column">
						<li class="nav-item"><a class="nav-link active" href="#">
								<span data-feather="home"></span> Spring MVC <span
								class="sr-only">(current)</span>
						</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/user/}"> <span
								data-feather="file"></span> User
						</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/category/}"> <span
								data-feather="shopping-cart"></span> Category
						</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/variant/}"> <span
								data-feather="users"></span> Variant
						</a></li>

					</ul>

					<h6
						class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
						<span>Rest API</span> <a
							class="d-flex align-items-center text-muted" href="#"
							aria-label="Add a new report"> <span
							data-feather="plus-circle"></span>
						</a>
					</h6>
					<ul class="nav flex-column mb-2">
						<li class="nav-item"><a class="nav-link" href="#"> <span
								data-feather="file-text"></span> Category
						</a></li>
						<li class="nav-item"><a class="nav-link" href="#"> <span
								data-feather="file-text"></span> Variant
						</a></li>
						<li class="nav-item"><a class="nav-link" href="#"> <span
								data-feather="file-text"></span> Product
						</a></li>
						<li class="nav-item"><a class="nav-link" href="#"> <span
								data-feather="file-text"></span> Order
						</a></li>
					</ul>
				</div>
			</nav>

			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
				<div
					class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-0 border-bottom">
					<h1 class="h2">User</h1>
					<div class="btn-toolbar mb-2 mb-md-0">
						<div class="btn-group mr-2">
							<button type="button" class="btn btn-sm btn-outline-secondary"  id="btnNew">New</button>
							<button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
						</div>
						<button type="button"
							class="btn btn-sm btn-outline-secondary dropdown-toggle">
							<span data-feather="calendar"></span> This week
						</button>
					</div>
				</div>
				<!-- - fill this one -->
				<div class="table-responsive">
					<table class="table table-striped table-sm">
						<thead>
							<tr>
								<th>#</th>
								<th>UserId</th>
								<th>UserName</th>
								<th>Email</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="user,rowCount: ${userList}">
								<td th:text="${rowCount.count}" />
								<td th:text="${user.userId}" />
								<td th:text="${user.userName}" />
								<td th:text="${user.email}" />
								<td>
									<button
										class="btn btn-sm btn-outline-secondary dropdown-toggle"
										type="button" id="dropdownMenuButton" data-toggle="dropdown"
										aria-haspopup="true" aria-expanded="false">Action</button>
									<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
										<li onclick="editAction(this)" th:value="${user.userId}"><a class="dropdown-item" href="#">Edit</a> </li>
										<li onclick="deleteAction(this)" th:value="${user.userId}"><a class="dropdown-item" href="#">Delete</a></li>
									</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="modal-body">
                    <!-- Content will be loaded here...  -->
                </div>

			</main>
		</div>
	</div>
</body>

<script src="../js/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="../bootstrap-4.4.1/js/bootstrap.min.js"></script>
<script src="../js/swal.js"></script>


<script>

	$("#btnNew").click(function(e){

		$.ajax({
			url : '/user/new',
			type : 'get',
			dataType: 'html',
			success: (response) =>{
				console.log(response);
				//alert('Edit data');
				$('.modal-body').html(response);
				$("#modalAdd").modal("show");
			},
			error:(err)=>{
				console.log(err);
				//alert('Data gagal tersimpan')
			}
		});
		
	});

	 function editAction(e){
		//alert(e.value);
		///(id=${user.userId})
		$.ajax({
			url : '/user/edit/'+e.value,
			type : 'get',
			dataType: 'html',
			success: (response) =>{
				$('.modal-body').html(response);
				$("#modalEdit").modal("show");
			},
			error:(err)=>{
				console.log(err);
				//alert('Data gagal tersimpan')
			}
		});
		

	} 
	 
	function deleteAction(e){
		Swal.fire({
			  title: 'Are you sure?',
			  text: "You won't be able to revert this!",
			  icon: 'warning',
			  showCancelButton: true,
			  confirmButtonColor: '#3085d6',
			  cancelButtonColor: '#d33',
			  confirmButtonText: 'Yes, delete it!'
			}).then((result) => {
			  if (result.value) {
				
				  $.ajax({
						url : '/user/delete/'+e.value,
						type : 'get',
						dataType: 'html',
						success: (response) =>{
							location.reload();
						},
						error:(err)=>{
							console.log(err);
							location.reload();
						}
					});
			   
			  }
			})
	}
	 

	

	

</script>
</html>
