
<!-- Modal add -->
<div class="modal fade" id="modalEdit" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title">Edit Category</h3>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form id="formAddEdit" th:object="${cate}" th:action="@{/category/save}" 
					method="POST">
					<div class="form-group">
						<label for="title">Id :</label><br> <input
							class="form-control" type="text" th:field="*{id}"
							placeholder="id" readonly>
					</div>
					<div class="form-group">
						<label for="title">Initial :</label><br> <input
							class="form-control" type="text" th:field="*{initial}"
							placeholder="initial">
					</div>
					<div class="form-group">
						<label for="name">Name :</label><br> <input
							class="form-control" type="text" th:field="*{name}"
							placeholder="name">
					</div>
					<div class="form-group">
							 <input type="checkbox"  th:field="*{active}">
    						<label class="form-check-label" for="exampleCheck1">is Active ?</label>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Close</button>
						<button type="submit" id="saveBtn" class="btn btn-primary">Save</button>
					</div>
				</form>
			</div>

		</div>
	</div>
</div>
<!-- /.modal -->

