
<!-- Modal add -->
<div class="modal fade" id="modalAdd" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title">Add Edit Product</h3>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form id="formAddEdit">
					<div class="form-group" method="post">
						<label for="title">Initial :</label><br> <input
							class="form-control" type="text"
							placeholder="initial" id="initial">
					</div>
					<div class="form-group">
						<label for="name">Name :</label><br> <input
							class="form-control" type="text" 
							placeholder="name" id="name">
					</div>
					<div class="form-group">
							 <input type="checkbox" id="active">
    						<label class="form-check-label" for="exampleCheck1">is Active ?</label>
					</div>
					
				</form>
				<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Close</button>
						<button type="button"  onclick="saveMe();" class="btn btn-primary">Saves</button>
						
					</div>
			</div>

		</div>
	</div>
</div>
<!-- /.modal -->

