
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author"
	content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
<meta name="generator" content="Jekyll v3.8.6">
<title>Dashboard Template · Bootstrap</title>



<!-- Bootstrap core CSS -->
<!-- Bootstrap core CSS -->
<link href="../bootstrap-4.4.1/css/bootstrap.min.css" rel="stylesheet"
	crossorigin="anonymous">

<meta name="theme-color" content="#563d7c">
<style>
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media ( min-width : 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}
</style>
<!-- Custom styles for this template -->
<link href="../css/dashboard.css" rel="stylesheet">
</head>
<body>
	<nav
		class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
		<a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">Company
			name</a> <input class="form-control form-control-dark w-100" type="text"
			placeholder="Search" aria-label="Search">
		<ul class="navbar-nav px-3">
			<li class="nav-item text-nowrap"><a class="nav-link" href="#">Sign
					out</a></li>
		</ul>
	</nav>

	<div class="container-fluid">
		<div class="row">
			<nav class="col-md-2 d-none d-md-block bg-light sidebar">
				<div class="sidebar-sticky">
					<ul class="nav flex-column">
						<li class="nav-item"><a class="nav-link active" href="#">
								<span data-feather="home"></span> Spring MVC <span
								class="sr-only">(current)</span>
						</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/user/}">
								<span data-feather="file"></span> User
						</a></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/category/}"> <span data-feather="shopping-cart"></span>
								Category
						</a></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/variant/}"> <span data-feather="users"></span>
								Variant
						</a></li>

					</ul>

					<h6
						class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
						<span>Rest API</span> <a
							class="d-flex align-items-center text-muted" href="#"
							aria-label="Add a new report"> <span
							data-feather="plus-circle"></span>
						</a>
					</h6>
					<ul class="nav flex-column mb-2">
						<li class="nav-item"><a class="nav-link" th:href="@{/rest/category}"> <span
								data-feather="file-text"></span> Category
						</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/rest/variant}"> <span
								data-feather="file-text"></span> Variant
						</a></li>
						<li class="nav-item"><a class="nav-link"th:href="@{/rest/product}"> <span
								data-feather="file-text"></span> Product
						</a></li>
						<li class="nav-item"><a class="nav-link" href="#"> <span
								data-feather="file-text"></span> Order
						</a></li>
					</ul>
				</div>
			</nav>

			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
				<div
					class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-0 border-bottom">
					<h1 class="h2">Rest - Category</h1>
					<div class="btn-toolbar mb-2 mb-md-0">
						<div class="btn-group mr-2">
							<button type="button" id="btnNew"
								class="btn btn-sm btn-outline-secondary">New</button>
							<button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
						</div>
						<button type="button"
							class="btn btn-sm btn-outline-secondary dropdown-toggle">
							<span data-feather="calendar"></span> This week
						</button>
					</div>
				</div>
				<!-- - fill this one -->
				<div class="table-responsive">
					<table class="table table-striped table-sm">
						<thead>
							<tr>
								<th>CategoryId</th>
								<th>Initial</th>
								<th>Name</th>
								<th>Active</th>
							</tr>
						</thead>
						<tbody id="tbody-category">

						</tbody>
					</table>
				</div>

				<div class="modal-body">
                    <!-- Content will be loaded here...  -->
                </div>


				<!-- Modal add -->
				<div class="modal fade" id="modalAdd" tabindex="-1" role="dialog"
				aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h3 id="h3Title" class="modal-title">Add Category</h3>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<form id="formAddEdit">
								<div class="form-group">
									<label for="title">Initial :</label><br> <input
										class="form-control" type="text"
										placeholder="initial" id="initial">
								</div>
								<div class="form-group">
									<label for="name">Name :</label><br> <input
										class="form-control" type="text" 
										placeholder="name" id="name">
								</div>
								<div class="form-group">
										 <input type="checkbox" id="active">
			    						<label class="form-check-label" for="exampleCheck1">is Active ?</label>
								</div>
								
							</form>
							<div class="modal-footer">
									<button type="button" class="btn btn-secondary"
										data-dismiss="modal">Close</button>
									<button type="button" id="saveBtn" class="btn btn-primary">Saves</button>
								</div>
						</div>
			
					</div>
				</div>
			</div>
			</modal>

			</main>
		</div>
	</div>
</body>

<script src="../js/jquery-3.4.1.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<script src="../bootstrap-4.4.1/js/bootstrap.min.js"></script>
<script src="../js/swal.js"></script>


<script>

	$('document').ready(function(){
		loadData();
	});

	function loadData(){
		$.ajax({
			url: "/api/category/",
			type: 'get',
			contentType: 'application/json',
			success : (respond) =>{
				console.log(respond);
				generateTable(respond);
				
			},
			error:()=>{
				console.log('Failed to fetch data');
			}
		});
	}

	// generate table
	function generateTable(resdata){
		var tr;
		// jquery will search category_body id
		$('#tbody-category').html('');
		
		 resdata.map((res)=>{
			tr = $('<tr/>');
			td = $('<td/>');
			 var actions = '<div class="input-group-btn">' +
	         '            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Action' +
	         '                <span class="fa fa-caret-down"></span></button>' +
	         '            <ul class="dropdown-menu">' +
	         '                <li onclick="editAction(this)" value='+res.id+'><a href="#">Edit</a></li>' +
	         '                <li onclick="deleteAction(this)" value='+res.id+'><a href="#">Delete</a></li>\n' +
	         '            </ul>\n' +
	         '        </div>';
	         
	        tr.append("<td>" + res.id+ "</td>");
	        tr.append("<td>" + res.initial+ "</td>");
	        tr.append("<td>" + res.name+ "</td>");
	        tr.append("<td>" + res.active+ "</td>");
	
			
			tr.append("<td>" + actions+ "</td>");
			
			$("#tbody-category").append(tr);
		}); 
	}

	  $("#btnNew").click(function(e){
		 $("#h3Title").text("Add Category");
		 $("#formAddEdit")[0].reset();
		$("#modalAdd").modal("show");

		
		
	});  

	
	 /* $("#btnNew").click(function(e){

		$.ajax({
			url : '/rest/category/add',
			type : 'get',
			dataType: 'html',
			success: (response) =>{
				console.log(response);
				//alert('Edit data');
				$('.modal-body').html(response);
				$("#modalAdd").modal("show");
			},
			error:(err)=>{
				console.log(err);
				//alert('Data gagal tersimpan')
			}
		});
		
	});  */
	
	/* function saveMe(e){
		// e.preventDefault();
		 alert('simpan modal');
	 };  */

	 function editAction(e){
		$("#h3Title").text("Edit Category");

		$.ajax({
			url : '/api/category/edit/'+e.value,
			type : 'get',
			contentType: 'application/json',
			success: (response) =>{
				//console.log(response.id);
				$('#id').val(response.id)
	            $('#initial').val(response.initial)
	            $('#name').val(response.name)
	            if (response.active === true){
	            	$("#active").prop("checked", true);
	            }else{
	            	$("#active").prop("checked", false);
	            }
				$("#modalAdd").modal("show");
			},
			error:(err)=>{
				console.log(err);
				//alert('Data gagal tersimpan')
			}
		});
		

	} 
	 
	 
 
	 $('#saveBtn').click(function() {
		 
		 	let data ={
					initial : $("#initial").val() ,
					name : $("#name").val() ,
					active: $("#active").is(':checked')=== true ? true : false // ternary operation mirip if else
			}
			
			//alert(JSON.stringify(data));
			 $.ajax({
				url : '/api/category/add',
				type : 'post',
				contentType : 'application/json',
				data: JSON.stringify(data),
				success: (respond) =>{
					//alert('Data has been save');
					onLoadApi();
					$('#modalAdd').modal('hide');
					
					Swal.fire({
		           		  position: 'top-center',
		           		  icon: 'success',
		           		  width: 600,
		           		  title: 'Your work has been saved',
		           		  showConfirmButton: false,
		           		  timer: 1500
		           		});
					
				},
				error:()=>{
					console.log('Failed to save data');
				}
			}); 
		});

	
	
 	function deleteAction(e){
		Swal.fire({
			  title: 'Are you sure?',
			  text: "You won't be able to revert this!",
			  icon: 'warning',
			  showCancelButton: true,
			  confirmButtonColor: '#3085d6',
			  cancelButtonColor: '#d33',
			  confirmButtonText: 'Yes, delete it!'
			}).then((result) => {
			  if (result.value) {
				
				  $.ajax({
						url : '/category/delete/'+e.value,
						type : 'get',
						dataType: 'html',
						success: (response) =>{
							location.reload();
						},
						error:(err)=>{
							location.reload();
							//alert('Data gagal tersimpan')
						}
					});
			   
			  }
			})
	} 
</script>
</html>
